package home

import "EHR/view/layout"

templ Index() {
@layout.App(true) {
	<div class="flex w-full h-[calc(100vh-65px)]">
		<div class="w-1/4 bg-neutral flex">
		</div>
		<div class="w-3/4 bg-base-300 justify-center gap-4">
		</div>
	</div>
	}
}